.trending {
   width: 100%;
}

.trendingContainer {
    position: relative;
    text-align: center;
    color: white;
}

.trendingTitle {
    position: absolute;
    bottom: 150px;
    left: 70px;     
}

@media screen and (min-width: 900px) {
    .trendingTitle {
        position: absolute;
        bottom: 350px;
        left: 150px;     
    }
}

.itemContainer {
    position: relative;
    text-align: center;
    color: white;
    img {
        border-radius: 3%;
    //     width: 100%;
    }
    margin: 5px;
}

.itemTitle {
    position: absolute;
    bottom: 120px;
    left: 20px;   
}

.listContainer {
    display: flex;
    list-style-type: none;
    padding: 0px;
    overflow: auto;
}

.mainBody {
    color:white
}